:root {
    --main-bg-color: #1a1a30;
    --light-bg-color: #20203e;
    /* #20203c */
  }

html, body {
    height: 100%;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Nav bg color */
.navbar-bg-color {
    background-color: var(--light-bg-color) !important;
}

.navbar-title {
    font-family: 'Permanent Marker';
    font-size: 38px !important;
}

#nav-sidebarLabel {
    font-family: 'Permanent Marker';
}

.row-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
}

.card {
    min-height: 100%;
    width: 80%;
    border-radius: 15px !important;
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Admin front end */
.number {
    font-size: 60px;
    color: #a9a9a9;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 5px 0;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

.offcanvas {
    width: 250px !important;
}

.edit-phrase {
    width: 400px;
}

/* Conjugated verb table */
.conjugated-table {
    width: 300px;
    margin: 0 10px;
}

.edit-conjugations-row {
    background-color: #fff !important;
}

.edit-conjugations-input {
    width: 100%;
    /* height: 100%; */
}

.user-dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%
}

/* -------  USER FRONT END ------- */
/* Dashboard */
.user-dashboard {
    background-color: var(--main-bg-color);
    z-index: 99;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    position: relative;
}

.quiz-img-container {
    /* background-color: pink; */
    text-align: center;
    transform: translateY(-70px);
    height: 240px;
}

.quiz-img-container img {
    width: 40%;
    animation-name: throb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes throb {
    0% {width: 100%;}
    50% {width: 95%;}
    100% {width: 100%;}
  }

.quiz-container {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz-card {
    height: 250px;
    width: 350px;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    transition: 0.2s linear;
}

.quiz-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.quiz-card:active {
    transform: scale(1);
}

.words-quiz, .phrases-quiz, .verbs-quiz {
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.words-quiz {
    background-image: url('./images/words.png');
}

.phrases-quiz {
    background-image: url('./images/phrases.png');
}

.verbs-quiz {
    background-image: url('./images/verbs.png');
}

/* Quiz app container */
.quiz-app-container {
    height: 500px;
    width: 70%;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.progress {
    height: 3px;
    /* width: 80%; */
}

.row-answers {
    display: flex;
}

.answer {
background-color: var(--main-bg-color);
width: 200px;
height: 70px;
margin: 0 20px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
border: 3px solid var(--main-bg-color);
color: #fff;
transition: 0.3s ease;
font-size: 16px;
letter-spacing: 1px;
text-align: center;
}

.answer:hover {
    /* background-color: var(--light-bg-color); */
    cursor: pointer;
}

.row-submit {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.row-submit p {
    margin: 0;
}

.btn-next {
    width: 120px;
    height: 50px;
}

/* MODAL */
.quiz-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px;
    bottom: 50px;
    transform: translateY(-30px);
    z-index: 1111;
}

/* remove border lines inside modal */
.modal-header, .modal-footer {
    border: none;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.4;
}

.show {
    display: block;
    /* transition: 1s linear; */
}

.user-footer {
    background-color: var(--light-bg-color);
}

.user-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-footer a {
    color: #fff;
    font-size: 18px;
}

.link:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}


/* MEDIA QUERIES MOBILE */