{% extends "layout.html" %}

{% block title %}
    Add Verb
{% endblock %}

{% block main%}
    <h1>Add Verb</h1>
    <form class="d-flex flex-column align-items-center" action="/add-verb" method="post">
        <div class="m-2">
            <input required="required" autocomplete="off" autofocus class="form-control mx-auto" id="verb-name" name="verb-name" placeholder="Add English verb" type="text">
        </div>
        <div class="m-2">
            <input required="required" autocomplete="off" autofocus class="form-control mx-auto" id="verb-translation" name="verb-translation" placeholder="Add translation" type="text">
        </div>
        <!-- <select class='form-select mx-auto mt-2 mb-4 edit-phrase' name="category-name" id="category-name" required>
            <option label="Select Category Name" value=""></option>
            {% for item in categories %}
            <option value="{{item.category_name}}">{{ item.category_name }}</option>
            {% endfor %}
        </select> -->
        <div class="d-flex mt-2">
            <a href="/verbs" class="btn btn-danger mx-1">Cancel</a>
            <button class="btn btn-success mx-1" type="submit">Add Verb</button>
        </div>
    </form>

{% endblock %}